<!DOCTYPE html>
<html>
<head>
<title>Apogee</title>
<style>body {background-image: url("/static/images/background.jpg");background-size: cover; background-repeat: no-repeat;background-attachment: fixed;}</style>
<!--<link rel=icon type="image/png" href="{{url_for('static', filename='images/logo.png')}}">-->
<link rel=stylesheet href="/static/css/home.css">
</head>
<body>
<div class=navigation>
<p2>
<li><a href="">Home</a></li>
<li><a href="/login/">Login</a></li>
<li><a href="/contact/">Contact</a></li>
<li><a href="/about/">About</a></li>
<li><a href="/resources/">Resources</a></li>
<li><div class="dropdown">
<a class="dropbtn">Games</a>
<div class="dropdown-content"><a href="/shift">Shift</a></div>
</div>
</li>
</p2>
</div>
<div class=home>
<h1><a href="/about/">{{name}}</a></h1>
<p>Welcome to Apogee!
</p>
</div>
</body>
</html>